<div class="c-verificar-numero">
  <h2 class="c-verificar-numero__title">Verificar sequência de Fibonacci</h2>
  <form (ngSubmit)="verificarNumero()" class="c-verificar-numero__form">
    <label for="numero" class="c-verificar-numero__label">Informe um número:</label>
    <input
      type="number"
      id="numero"
      [(ngModel)]="numero"
      name="numero"
      class="c-verificar-numero__input"
      required
    />
    <button type="submit" class="c-verificar-numero__button">Verificar</button>
  </form>
  <p *ngIf="resultado" class="c-verificar-numero__result">{{ resultado }}</p>
</div>
